@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Font+Awesome+5+Free:wght@400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat:wght@400;500;600;800&family=Open+Sans:wght@400;600;800&display=swap');

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
